.modal.left .modal-dialog {
	position: fixed;
	margin: auto;
	width: 320px;
	height: 100%;
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.left .modal-body {
	padding: 0;
}

.modal.left.fade .modal-dialog {
	left: -320px;
	transition: opacity 0.1s linear, left 0.1s ease-out;
}

.modal.left.fade.show .modal-dialog {
	left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #eeeeee;
	background-color: #fafafa;
}


.modal.bottom.fade .modal-dialog {
	position: absolute;
	top:auto;
	bottom: -100px;
	transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.bottom.fade.show .modal-dialog {
	top:auto;
	bottom: 50px;
}

#compartilhar .modal-dialog{
	margin: 0px;
	width: 100%;
}


