.home{
 background: $color-3;
}



nav{
 background: $color-1;
 height:auto;
 padding: 10px;
}

.nav-menu{
    position: relative;
    top: -40px;
    left: 10px;
}
.img-logado{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #575757;
  }



.tarja-saldo{
  background: $color-2;
  padding: 10px 0;
}

.valor-de-saque{
  display: inline-block;
  width: 48%;

    p{
      color: #454545;
      font-size: 23px;
      font-weight: 900;
      margin:0;
    }

    span{
      font-size: 10px;
      text-transform: uppercase;
      color: #989898;
    }
}
.tarja-saldo-info{
  text-align: left;

    p{
      font-size: 14px;
      margin: 0;
      color: #fff;
      font-weight: 900;
      }

    span{
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 900;
    }
    h2{
      color: #fff;
      font-size: 30px;
      display: block;
      padding-bottom: 10px;

    }
}


.tarja-data{
    text-align: right;

    p{
    font-size: 14px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px; 
    
      &:hover{
        color:#ffce00;
      }
    }
}

.dhx_calendar{
  width: 100%;
}



.box-extrato-info{
  background: #fff;
  padding: 10px;
  text-align: center;
  margin:5px 0;

    p{
      margin:0;
      color:#343434;
      font-size: 20px;
      font-weight: 900;
      
      span{
        display: block;
        text-transform: uppercase;
        color: #919191;
        font-weight: 900; 
        font-size:12px;
          svg{
            fill:#454545;
          }
      }
    }
}
.box-extrato-link-gerado .box-extrato-video{
  p{
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
    margin:0;
  }
}
.box-extrato-data{
  p{
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
    margin:0;
  }
}