.box-video{
  background:#fff;

  img{
    padding-bottom:10px;
    width: 100%;
  }
}


.box-video-tl{
  
  display: inline-block;
  padding-left: 10px;

  p{
    color: #454545;
    width: 270px;
  }
}

.box-video-link{
  
  display: inline-block;
  position: relative;
  top: -14px;
  left: 11px;

    svg{
      fill: #FE0037;
      width: 17px;
    }
}

.box-video-info{
  padding-left: 10px;
  span{
    padding-right: 10px;
    font-size: 12px;
    color: #757575;

    svg{
      width: 16px;
      padding-right: 2px;
      fill:#757575; 

      }
  }

}